{% extends "crew_assignment_app/base.html" %}

{% block content %}
  <h2>Crew Member: {{ crewmember.name }}</h2>
  <p>ID: {{ crewmember.id }}</p>
  <p>Ship ID: {{ crewmember.shipid }}</p>
  <p>Status: {{ crewmember.status }}</p>
  <p>Position: {{ crewmember.position.name }}</p>
  <p>Certificates: </p>
  <ul>
    {% for cert in crewmember.certificates.all %}
      <li>{{ cert.name }}</li>
    {% endfor %}
  </ul>
  <p>Qualifications: </p>
  <ul>
    {% for qual in crewmember.qualifications.all %}
      <li>{{ qual.name }}</li>
    {% endfor %}
  </ul>
  <p>Availability Date: {{ crewmember.availability_date }}</p>
  <p>Gender: {{ crewmember.gender }}</p>
{% endblock %}